<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://139.196.72.112:3306/BOOK_SELLING</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">123456</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <mapping resource="/hbm/AccountEntity.hbm.xml"/>
    <mapping class="com.example.taobook.datasour.AccountEntity"/>
    <mapping resource="/hbm/ItemEntity.hbm.xml"/>
    <mapping class="com.example.taobook.datasour.ItemEntity"/>
    <mapping resource="/hbm/MessageEntity.hbm.xml"/>
    <mapping class="com.example.taobook.datasour.MessageEntity"/>
    <mapping resource="/hbm/OrderlistEntity.hbm.xml"/>
    <mapping class="com.example.taobook.datasour.OrderlistEntity"/>
    <mapping resource="/hbm/RequestEntity.hbm.xml"/>
    <mapping class="com.example.taobook.datasour.RequestEntity"/>
    <mapping resource="/hbm/UserEntity.hbm.xml"/>
    <mapping class="com.example.taobook.datasour.UserEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>